<nav class="navbar navbar-expand-lg navbar-light bg-info ">
  <a class="navbar-brand" routerLink="/"><img src="assets/images/logo-almundo.svg"></a>
</nav>

<div class="d-sm-none d-sm-block d-md-none">
  <nav class="white bg-white text-center nav-padding">
    <a data-toggle="collapse" data-target="#filter" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" class="text-center">
      <strong>Filtrar <i class="fa fa-sort-down"></i></strong>
    </a>
  </nav>
  <div class="collapse" id="filter">
    <div class="bg-white">
      <app-filter></app-filter>
    </div>
  </div>
</div>


